<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Working Title</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Space+Mono" rel="stylesheet">
    <link rel="stylesheet" href="css/landing.css" />
  </head>
  <body>
    <div class="parent-vert-align">
    <div class="title">
      Communication, with class.
    </div>
    </div>
    <div class="center">
      <a href="/login" id="get-started">Get Started</a>
    </div>

  </body>
</html>
