<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Working Title</title>
    <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Space+Mono" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <button id="logout" class="hide">Logout</button>


    <div class="login-container container">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-12">
      <h1 class="title">Log in</h1>
      <div class="center">

      <div class="form-inline login">
        <input class="form-control"id="email-login" placeholder="Email" type="email" />
        <input class="form-control" type="password" id="password-login" placeholder="Password">
        <button class="btn btn-primary" id="login">Log in</button>
      </div>


      <div class="center">
        <button id="googleSignUp">
          <img class="g-icon" src="https://www.gstatic.com/firebasejs/staging/3.0.0/auth/images/google.svg"><span id="google-text">Sign in with Google</span>
        </button>
      </div>
      <hr class="sep" />

      <h1 class="title"> or Sign up.</h1>
      <div class="form-inline">
        <input id="email" class="form-control" placeholder="Email" type="email" />
        <input type="password" class="form-control" id="password" placeholder="Password">
        <input type="password" class="form-control" id="check-password" placeholder="Re-Confirm Password">
        <input id="first-name" class="form-control" placeholder="First Name" type="text" />
        <input id="last-name" class="form-control" placeholder="Last Name" type="text" />
        <button class="btn btn-primary" id="signup">Sign up</button>
      </div>

      </div>
    </div>
    <div class="col-md-3"></div>
    </div>
  </div>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/login.js"></script>
  </body>
</html>
