<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Working Title</title>
    <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Space+Mono" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <button id="logout" class="hide">Logout</button>
    <h1 clas="title">Log in</h1>
    <input id="email-login" placeholder="Email" type="email" />
    <input type="password" id="password-login" placeholder="Password">
    <button id="login">Log in</button>
    <h1 class="title"> or Sign up.</h1>
    <input id="email" placeholder="Email" type="email" />
    <input type="password" id="password" placeholder="Password">
    <input type="password" id="check-password" placeholder="Re-Confirm Password">
    <input id="first-name" placeholder="First Name" type="text" />
    <input id="last-name" placeholder="Last Name" type="text" />
    <button id="signup">Sign up</button>
    <script src="js/login.js"></script>
  </body>
</html>
