body{

  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    /* bottom, image */
    url(https://static.pexels.com/photos/52599/pexels-photo-52599.jpeg) no-repeat center center fixed;

}

.title{
  font-size:108px;
  color:white;
  font-family: "Space Mono", monospace;
  position: relative;
 top: 50%;
 text-align: center;
  transform: translateY(50%);

}
#get-started {
	background-color:transparent;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
  position: relative;
	border:5px solid #ffffff;
  top: 50%;
   transform: translateY(50%);
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:21px 36px;


	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
#get-started:hover {
	background-color:transparent;
}
#get-started:active {
	position:relative;
	top:1px;
}
.center{
    text-align: center;
}
.navbar.navbar-landing{
  background-color:rgba(0, 0, 0, 0.6);

}
.navbar-brand{
  font-family:"Space Mono", monospace;
  color:white;
  text-decoration: none;
}
.navbar-brand:hover{
  color:white;
  text-decoration: none;
}
.vcenter {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
}
